@model IEnumerable<EcommerceApp.Application.DTOs.Product.ProductDto>

@{
    ViewData["Title"] = "eBazzar";
}

<div class="container home">
    <p class="underline_effect fs-6">Just For You</p>
    <div class="row mt-2">
    @foreach (var product in Model)
        {
            <div class="col-auto mb-4">
                <a asp-action="details" asp-controller="product" asp-route-slug="@product.Slug">
                <div class="card">
                    <img src="@product.Images.FirstOrDefault()?.ImageUrl" class="card-img-top rounded" alt="eBazzar" />
                    <div class="card-body">
                        <div class="card-text">
                            @Html.Raw(product?.Name?.Length > 35 ? product.Name.Substring(0, 35) + "..." : product.Name)
                        </div>
                            <div>
                                @if (product.DiscountPrice.HasValue)
                                {
                                    <span class="text-decoration-line-through text-secondary me-2">@product.Price.ToString("0.00")</span>
                                    <span class="text-danger font-lg">NPR @product.DiscountPrice?.ToString("0.00")</span>
                                }
                                else
                                {
                                    <span class="font-lg text-primary">NPR @product.Price.ToString("0.00")</span>
                                }
                            </div>
                    </div>
                </div>
                </a>
            </div>
        }
    </div>
</div>
