@using System.Text.RegularExpressions
@model IEnumerable<EcommerceApp.Application.DTOs.Product.ProductDto>


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
}

@functions {
    public string GetRawTrimProductDescription(string? html)
    {
        if (string.IsNullOrWhiteSpace(html)) return string.Empty;

        // Strip HTML tags
        var plainText = Regex.Replace(html, "<.*?>", string.Empty);

        return plainText.Length > 60 ? plainText.Substring(0, 60) + "..." : plainText;
    }
}

<div class="bg-light p-4 rounded-3 mb-3">
    <div class="row">
        <div class="col col-md col-sm">
            <p class="mb-4 font-lg"><span class="underline_effect">Products</span></p>
        </div>
        <div class="col col-md col-sm text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-secondary border text-light"><i class="fa-solid fa-plus"></i> Add </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-md col-sm">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">SN</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Discounted Price</th>
                            <th scope="col">StockQuantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sn = 1;
                        }
                        @if (Model?.Any() ?? false)
                        {
                            foreach (var product in Model)
                            {
                                <tr>
                                    <td scope="row">@sn</td>
                                    <td >
                                        @if (!string.IsNullOrEmpty(product.Images.FirstOrDefault()?.ImageUrl))
                                        {
                                            <img src="@product.Images.FirstOrDefault()?.ImageUrl" alt="Uploaded Photo" class="w-50" />
                                        }
                                    </td>
                                    <td>
                                        <p title="@product.Name">
                                            @(product.Name?.Length > 60 ? product.Name.Substring(0, 60) + "..." : product.Name)
                                        </p>
                                    </td>
                                    <td>
                                        <p>@GetRawTrimProductDescription(product.Description)</p>
                                    </td>
                                    <td>
                                        <p>
                                            @product.Price
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            @product.DiscountPrice
                                        </p>
                                    </td>

                                    <td><p>@product.StockQuantity</p></td>
                                    <td>
                                        <form asp-action="delete" asp-controller="product" method="post" onsubmit="return confirm('Are you sure you want to delete this Product?');">
                                            <input type="hidden" name="id" value="@product.Id">
                                            <button type="submit" class="btn btn-link" title="Delete">
                                                <i class="fa-solid fa-trash-can text-danger"></i>
                                            </button>
                                        </form>
                                        <a asp-action="edit" asp-controller="product" asp-route-id="@product.Id" class="btn btn-link" title="Edit">
                                            <i class="fa-solid fa-edit text-primary"></i>
                                        </a>
                                    </td>
                                </tr>

                                sn++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9" class="not_found">Products not found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>