@model EcommerceApp.Application.DTOs.Shipping.ShippingPageDto

<div class="container my-4">
    <div class="row">
        <div class="col-8 col-md-8">
            <div class="font-lg mb-4 underline_effect">Delivery Information</div>
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="@Model.DeliveryInformationDto.FullName" class="mb-2">Full Name <span class="text-danger">*</span></label>
                        <input asp-for="@Model.DeliveryInformationDto.FullName" class="form-control py-2" placeholder="Enter your full name"></input>
                        <span asp-validation-for="@Model.DeliveryInformationDto.FullName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="@Model.DeliveryInformationDto.Region" class="mb-2">Region <span class="text-danger">*</span></label>
                        <input asp-for="@Model.DeliveryInformationDto.Region" class="form-control py-2" placeholder="Please enter your region"></input>
                        <span asp-validation-for="@Model.DeliveryInformationDto.Region" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-6 col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="@Model.DeliveryInformationDto.PhoneNumber" class="mb-2">PhoneNumber <span class="text-danger">*</span></label>
                        <input asp-for="@Model.DeliveryInformationDto.PhoneNumber" class="form-control py-2" placeholder="Please enter your phone number"></input>
                        <span asp-validation-for="@Model.DeliveryInformationDto.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-6 col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="@Model.DeliveryInformationDto.City" class="mb-2">City <span class="text-danger">*</span></label>
                        <input asp-for="@Model.DeliveryInformationDto.City" class="form-control py-2" placeholder="Please enter your city"></input>
                        <span asp-validation-for="@Model.DeliveryInformationDto.City" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-6 col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="@Model.DeliveryInformationDto.BuildingHouseNo" class="mb-2">Building / House No/ Street <span class="text-danger">*</span></label>
                        <input asp-for="@Model.DeliveryInformationDto.BuildingHouseNo" class="form-control py-2" placeholder="Please enter your building house no"></input>
                        <span asp-validation-for="@Model.DeliveryInformationDto.BuildingHouseNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="@Model.DeliveryInformationDto.AddressLine" class="mb-2">Full Address <span class="text-danger">*</span></label>
                        <input asp-for="@Model.DeliveryInformationDto.AddressLine" class="form-control py-2" placeholder="Please enter your full address"></input>
                        <span asp-validation-for="@Model.DeliveryInformationDto.AddressLine" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col col-md">
            <div class="font-lg mb-3">
                Order Summery
            </div>
            <div class="row mb-2">
                <div class="col-6 col-md-6 mb-2">
                    <p>Items Total (@Model.OrderSummeryDto.TotalItems Items)</p>
                </div>
                <div class="col-6 col-md-6 mb-2">
                    <h6>Rs. @Model.OrderSummeryDto.Price.ToString("0.00") </h6>
                </div>
                <div class="col-6 col-md-6 mb-2">
                    <p>Delivery Fee</p>
                </div>
                <div class="col-6 col-md-6 mb-2">
                    <h6>Rs. @Model.OrderSummeryDto.DeliveryFee.ToString("0.00") </h6>
                </div>

            </div>
            <hr />
            <div class="row mb-2">
                <div class="col-6 col-md-6 mb-2">
                    <p class="font-lg text-dark">Total : </p>
                </div>
                <div class="col-6 col-md-6 mb-2">
                    <h6 class="font-warning">Rs @Model.OrderSummeryDto.TotalPrice.ToString("0.00")</h6>
                </div>
            </div>
            <div class="cursor-pointer bg-secondary p-2 rounded text-center" style="color: #ffff; cursor: pointer">
                Proceed to Pay
            </div>
        </div>
       
    </div>
</div>