<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Shopping Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceApp.Web.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />

</head>
<body>
    @await Html.PartialAsync("_Header")
    <main role="main">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var successMessage = '@TempData["SuccessMessage"]';
        var infoMessage = '@TempData["InfoMessage"]';
        var errorMessage = '@TempData["ErrorMessage"]';
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
